.navbar{
 background-color:orangered ;
 height: 100%;
}

.navbar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 10px;

}

.navbar ul li{
  font-weight: 300;
  font-size: 13px;
  padding-inline: 2%;
}

.navbar li{
  display: flex;
  align-items: center;
}

.navbar li:hover {
  border: 1px solid white;
  border-radius: 20px;
}